/**************************************************/
/* Custom properties                              */
/**************************************************/

:root {
    --clr-blue: 223 100% 60%;
    --clr-dark: 248 8% 17%;
    --clr-gray: 227 6% 14%;
    --clr-white: 0 0% 100%;
    /* to remove highlight on mobile device when touching on buttons */
    --webkit-tap-highlight-color: transparent;

    /* set 1rem to 10px to ease of sizing instead of 16px */
    font-size: 62.5%;

    /* set default reference value to 1rem so 10px */
    /* use for border-radius, inset values, font-size etc. */
    --rem: 1rem; 
    
    /* general padding size */
    /* use only margin and padding purposes */
    --padding: calc(var(--rem) * 1.6);
}

/**************************************************/
/* Reset CSS                                      */
/**************************************************/

/* box-sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset margins */

body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
    margin: 0;
}

/* remove list-style when used with role as list */

ul[role="list"],
ol[role="list"] {
    list-style-type: none;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: calc(var(--rem) * 2.4);
    letter-spacing: calc(var(--rem) * .1);
    background: hsl( var(--clr-dark));
    color: hsl( var(--clr-white) / 1);
    line-height: 1;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* to inherit all font properties from parents */

input,
button,
textarea,
select {
    font: inherit;
}

/* remove animation for people who've turned them off */

@media (prefers-reduce-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/**************************************************/
/* Utility classses                               */
/**************************************************/

.container {
    padding-inline: var(--padding);
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
}

.blue {
    color: hsl( var(--clr-blue));
}

.fw-extra-light {
    font-weight: 200;
}

.fw-light {
    font-weight: 300;
}

.fw-regular {
    font-weight: 400;
}