/**************************************************/
/* Components                                     */
/**************************************************/

.dot-container {
    --rem: .9rem;
    width: calc( var(--rem) * 4);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap is 8px */
    gap: calc(var(--rem) * .8);
}

.dot {
    background-color: hsl( var(--clr-dark));
    /* one dot is 8px */
    width: calc(var(--rem) * .8);
    aspect-ratio: 1;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

/**************************************************/
/* Header                                         */
/**************************************************/

/* header styling */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-inline: var(--padding);
    height: calc(var(--rem) * 7.2);
    background-color: hsl( var(--clr-blue) / 1);
}

.main-header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: calc(var(--rem) * 4);
    font-weight: 300;
}

/* hero styling */

.hero {
    padding: var(--padding);
    padding-top: calc(var(--rem) * 5);
    line-height: 1.2;
    max-width: 80%;
}

.hero > * {
    margin-bottom: calc(var(--rem) * 3);
}

.hero-title {
    font-size: calc(var(--rem) * 3.6);
    font-weight: 300;
}

.hero-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--rem) * 2);
}

.hero-content > .dot-container {
    padding-top: calc(var(--rem) / 1.5);
}

.hero-bg-dots {
    position: absolute;
    top: calc(var(--rem) * 14);
    right: 0;
    transform: translateX(50%);
}

.hero-bg-dots > .dot-container {
    --rem: 2.5rem;
}

/* project section styling */

.projects-container {
    padding-inline: var(--padding);
}

.projects-title {
    font-size: calc(var(--rem) * 3.6);
    margin-bottom: calc(var(--rem) * 1.5);
}

.card {
    background-color: hsl( var(--clr-gray));
    border-radius: calc(var(--rem));
    padding: var(--padding);
    overflow: hidden;
    z-index: -9999;
}

.card > .dot-container {
    --rem: 3rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%) rotate(45deg);
    z-index: -5;
}

.card-img--container {
    height: calc(var(--rem) * 10);
    position: relative;
}

.dots-triangle {
    position: absolute;
    top: calc(var(--rem));
    right: calc(var(--rem));
}

.dots-triangle .dot:nth-child(4) {
    background-color: transparent !important;
}

.dots-triangle .dot:nth-child(7) {
    background-color: transparent !important;
}

.dots-triangle .dot:nth-child(8) {
    background-color: transparent !important;
}

.card {
    margin-bottom: var(--padding);
    position: relative;
}

.card-img {
    height: calc(var(--rem) * 6);
    margin-bottom: var(--rem);
}

.card-content--container {
    margin-bottom: var(--padding);
}

.card-title--container .dot-container {
    --rem: .6rem;
}

.card-title--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--rem));
    margin-bottom: var(--padding);
}

.card-title {
    font-size: calc(var(--rem) * 3.6);
}

.card-detail {
    font-size: calc(var(--rem) * 1.8);
    line-height: 1.2;
    height: calc(var(--rem) * 10);
}

.card-btn--container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding);
}

.btn {
    width: calc(var(--rem) * 12);
    height: calc(var(--rem) * 4);
    font-size: calc(var(--rem) * 1.8);
    border: none;
    border-radius: calc(var(--rem) /2);
}

.btn-github {
    background-color: hsl( var(--clr-blue));
    color: hsl( var(--clr-white));
}

.btn-live {
    background-color: hsl( var(--clr-white));
    color: hsl( var(--clr-dark));
}