/**************************************************/
/* Media queries                                  */
/**************************************************/

@media screen and (min-width: 460px) {
    .projects-container .container > *:not(:first-child) {
        flex-basis: 80%;
        flex-grow: 0;
    }

    .projects-container .container > *:last-child {
        flex-basis: 80%;
        flex-grow: 0;

    }
 
    .card-detail {
        height: calc(var(--rem) * 18);
    }
}

@media screen and (min-width: 580px) {
    body {
        background: 
            linear-gradient(to bottom, 
                      hsl( var(--clr-dark)), 
                      hsl( var(--clr-dark)) 25%,
                    hsl( var(--clr-white) / .3)
                    ), 
                    top / cover no-repeat fixed url(../../public/images/bg-hero-desktop.jpg);
    }
    
    .hero-bg-dots {
        display: none;
    }
    
    .projects-container .container > *:not(:first-child) {
        flex-basis: 48%;
        flex-grow: 0;
    }

    .projects-container .container > *:last-child {
        flex-basis: 48%;
        flex-grow: 0;

    }

    .card-img--container {
        height: calc(var(--rem) * 32);
    }

}

@media screen and (min-width: 800px) {
    .card-img--container {
        height: calc(var(--rem) * 40);
    }

    .card-detail {
        height: calc(var(--rem) * 14);
    }
}
