/**************************************************/
/* Media queries                                  */
/**************************************************/

@media screen and (min-width: 460px) {

    .projects-container .container > *:not(:first-child) {
        flex-basis: 80%;
        flex-grow: 0;
    }

    .projects-container .container > *:last-child {
        flex-basis: 80%;
        flex-grow: 0;

    }
 
    .card-detail {
        height: calc(var(--rem) * 18);
    }
}

@media screen and (min-width: 580px) {
    body {
        font-size: calc(var(--rem) * 2.4);
    }

    .hero .container{
        padding-inline: var(--spacing) calc(var(--rem) * 20);
        text-align: left;
    }

    .hero .photo-container,
    .hero .btn-projects {
        margin-inline: 0;
    }

    .hero-bg-dots {
        display: none;
    }
    
    .projects-container .container > *:not(:first-child) {
        flex-basis: 48%;
        flex-grow: 0;
    }

    .projects-container .container > *:last-child {
        flex-basis: 48%;
        flex-grow: 0;

    }

    .card-img--container {
        height: calc(var(--rem) * 32);
    }

}

@media screen and (min-width: 800px) {
    .card-detail {
        height: calc(var(--rem) * 14);
    }
}
